<!DOCTYPE html>
<html>
    <head>
        <title>Basic Form App</title>
    </head>
    <body>
        <h1>
            Basic form entry
            <hr />
        </h1>
        <!-- Name input form, data submitted using HTTP POST -->
        <form method="post">
            First Name: <input name="name" />
            <br /><br />
            Last Name : <input name="surname" />
            <br /><br />
            <button type="submit">Submit</button>
        </form>
        <hr />
        <!-- Determine whether or not there is form_data variable (from Flask) to process -->
        {% if form_data %}
            <!-- Determine whether or not all of the form fields have data -->
            {% if form_data.name and form_data.surname %}
                <!-- Display all form data -->
                Hello, {{ form_data.name | title }} {{ form_data.surname | title }}!
            <!-- If all form fields do not have data, display an error message -->
            {% else %}
                Please fill out all of the fields and try again.
            {% endif %}
        {% endif %}
    </body>
</html>
